---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hello. I'm Muhammad Alif Fadillah, a software engineer based in Bogor.
      <br />
       Some things that i have used recently:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>Docker</li>
        <li>MongoDB</li>
        <li>Astro</li>
        <li>GoLang</li>
        <li>Flutter</li>
        <li>Dart</li>
      </ul>
    <p class="text-sm font-light">
      Beyond web development, I'm drawn to Cloud Computing, IoT, and Machine Learning for their innovation
      and potential to create intelligent solutions. These fields offer scalable infrastructure, seamless device communication
      , and autonomous learning, shaping the future of technology and expanding my skill set.
    </p>
  </div>
</Card>
